*
!.git
!.github
!.gitignore
!.LICENCE
!.README.md

!Assets
Assets/*
!Assets/Nessie
!Assets/Nessie/**

**/ToDo*

Assets/Nessie/Udon/NUSaveState/AnimatorFolders/**
Assets/Nessie/Udon/NUSaveState/ExampleTesting*