*
!.git
!.github
!.gitignore
!.LICENCE
!.README.md

!Assets
Assets/*
!Assets/Nessie
!Assets/Nessie/**

**/ToDo*

Assets/Nessie/Udon/NUSaveState/AssetFolders/**

Assets/Nessie/Udon/NUSaveState/Avatar/Animators*
Assets/Nessie/Udon/NUSaveState/Avatar/Expressions*
Assets/Nessie/Udon/NUSaveState/Avatar/Prefabs*

Assets/Nessie/Udon/NUSaveState/ExampleTesting*